<nav class="navbar navbar-inverse" role="navigation" style="background-color: #0d3752;
background-image: none;
  height:10%;
  border-radius: 0px;
  border-width: 0;
  margin-bottom:0">
    <a href="/" style="color: white!important;font-family: 'Slabo 27px', serif;font-size:24px;display:inline-block;width:100%;text-align:center;
    text-decoration:none!important"><img src="../img/logo.png" style="height:72px;margin-top:10px"></a>
</nav>