<nav class="navbar navbar-inverse" role="navigation" style="background-color: #0d3752;
background-image: none;
  border-radius: 0px;
  border-width: 0;
  margin-bottom:0">
    <a class = "navbar-brand" href="/" style="color: white!important;font-family: 'Slabo 27px', serif;font-size:24px">NP Finder</a>
</nav>