body{
	background-color: #e6e9ef;
}
p{
	font-size: 24px;
	font-family:'Slabo 27px', serif;
	color: #0D3752;
}
h1{
	font-size: 70px;
	font-family: 'Palanquin Dark', sans-serif;
	text-align: center;
	top:320px;
	position:absolute;
	color:white!important;
	width:100%;
}
h2{
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 60px;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: #0D3752
}
h3{
	font-size: 30px;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: #0D3752;
	margin-top:0;
	margin-bottom: 20px;
}
h4{
	margin: 0;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #004d80;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Palanquin Dark', sans-serif;
}
h6{
	display: inline;
	background: rgba(153,255,153,0.9);
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border: none;
    font-family: 'Palanquin Dark', sans-serif;
}
hr{
	 height:5px;
	 border-radius:5px;
	 color:#0D3752;
	 background-color:#0D3752;
}
.page{
    margin-top: 350px;
    height: 100px;
    width: 50px;
    background: aliceblue;
    border: none;
    opacity: 0.6;
    font-size: xx-large;
}
.page:hover{
	opacity: 0.5;
}
table{
	background: #34495E;
	color: #fff;
	border-radius: .4em;
	overflow: hidden;
	font-family: Montserrat, sans-serif;
	text-align: center;
}
th{
	text-align: center;
	color: #dd5;
}
tr{
	height:50px;
	font-size: 20px;
	border-spacing: 3px;
	opacity: 1;
}
strong{
	color:black!important;
}
span p{
	width:210px;
}
.container{
	width: 75%
}
.list-group-item{
	font-size: 20px;
	border:none;
	background:transparent;
}
.alert_table{
	background: transparent;
	border-collapse: initial;
	padding: 5px;
	color:#0D3752!important;
	text-align: left;
}
.alert_icon{
	padding: 10px;
}
.profile_bng{
	width:100%;
	height:120px;
	position: relative;
	background-color: #0D3752;
}
.profile_img{
	background-color: white;
    z-index: 2;
    border-radius: 5px;
    height: 56px;
    width: 56px;
    position: relative;
    top: 90px;
    border: 4px solid #e6e9ef;
    left: 20px;
}
.profile_bng_img{
	width:100%;
	height:120px;
}
.user_names{
    z-index: 2;
    height: 30px;
    width: 200px;
    left: 90px;
    position: relative;
    top: 60px;
    text-align: left;
}
.tweet_img{
	width: 90%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    top: 30px;
    height: 340px;
    background-color: black;
}
.tweet_text{
    height: 60px;
    width: 90%;
    margin: auto;
    top: 30px;
    padding: 10px;
    text-align: left;
    position: relative;
}
.tweet_text p{
	font-size: 12px;
}
.fav_btn{
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    border: none;
    display: block;
    width: 100px;
    height:52px;
}
.fav_btn:focus{
	outline: 0;
}
.rating_img{
    padding-left: 20px;
    display: block;
    position: relative;
}
.stars{
	position: relative;
}
#bg{
	height:750px;
	width:100%;
	transition: background 1s linear;
    -moz-transition: background 1s linear; /* Firefox 4 */
    -webkit-transition: background 1s linear; /* Safari and Chrome */
    -o-transition: background 1s linear; /* Opera */
}
#desc{
	display: inline-block;
}
#dire_info{
	display: none;
	clear: left;
}
#restaurant{
	display: block;
}
#map{
	width: 100%;
	height:500px;
}
#twitter_board{
	background-color: #e6e9ef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height:600px;
	padding: 15px;
	border-radius: 5px;
}
#twitter_board table{
	height:100%;
	width:100%;
	background-color: #e6e9ef; 
}
#twitter_board td{
	vertical-align: top;
	height: 100%;
	width:25%;
	padding: 5px;
}
#fav_form{
	float:left;
	left:46%;
    position: relative;
    top: 440px;
}
#rating_btn{
	float:left;
	left:38%;
    position: relative;
    top: 440px;
}
#fav_unchecked:hover{
	background-color: #0D3752;
	transition: 1s;
}
#fav_unchecked p{
	font-size: 16px;
	display: none;
	font-family: 'Palanquin Dark', sans-serif;
	color:white!important;
}
#fav_unchecked:hover img{
	display: none;
}
#fav_unchecked:hover p{
	display: inline;
}
#fav_checked{
	background-color: #0D3752;
}
#fav_checked:hover{
	background-color: #cccccc;
	transition: 1s;
}
#fav_checked p{
	font-size: 16px;
	display: none;
	font-family: 'Palanquin Dark', sans-serif;
	color:#0D3752!important;
}
#fav_checked:hover img{
	display: none;
}
#fav_checked:hover p{
	display: inline;
}
#rating_unchecked:hover{
	background-color: #ffff99;
	transition: 1s;
}
#rating_unchecked p{
	font-size: 16px;
	display: none;
	font-family: 'Palanquin Dark', sans-serif;
	color:white!important;
}
#rating_unchecked:hover img{
	display: none;
}
#rating_unchecked:hover p{
	display: inline;
}
#rating_checked{
	background-color: #ffff99;
}
#rating_checked:hover{
	background-color: #cccccc;
	transition: 1s;
}
#rating_checked p{
	font-size: 16px;
	display: none;
	font-family: 'Palanquin Dark', sans-serif;
	color:#0D3752!important;
}
#rating_checked:hover img{
	display: none;
}
#rating_checked:hover p{
	display: inline;
}
#rating_dialog{
    border-radius: 5px;
    z-index: 200;
    width: 420px;
    height: 360px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    display: none; 
    position: fixed;
    top: 500px;
    left: 40%;
    background: rgba(255,255,255,0.8);
}
#rating_dialog p{
	font-size: 16px;
	padding-left: 20px;
	padding-bottom: 0;
	display: inline-block;
}
#first_span{
	padding-top: 20px;
}
#rating_dialog input[type=text]{
	padding-left:4px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
}
#rating_dialog input[type=submit]{
    width: 100%;
    bottom: 40px;
    position: absolute;
    left: 0;
    height: 40px;
    border: 0;
    background: #00e6ac;
    font-size: 16px;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
}
#cancel_btn{
	position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #ff5050;
    border: none;
    height: 40px;
    color: white!important;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Palanquin Dark', sans-serif;
}
#datepicker{
	width:110px;
}
#ui-datepicker-div{
	font-size: 16px;
	text-align: center;
}
#days{
	width: 100px;
    position: relative;
}
#tag_box{
	width: 320px;
}
#user_rating{
	top:160px;
	position: relative;
}
#user_rating h1{
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 40px;
}
#tags{
	text-align: center;
	margin:auto;
	top:400px;
	position: relative;
}
.ui-datepicker-calendar tr{
	font-size: 12px;
	height:0;
}
.ui-datepicker td {
    height: 0;
    border: 0;
}
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
	float: right;
    right: 15%;
    position: relative;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 16px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}